<h1 class="ranking-h1">Ranking</h1>

<div class="ranking">
  <table>
    <thead>
      <tr>
        <th>レベル</th>
        <th>肩書き</th>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.level %></td>
        <td><%= user.job_status_i18n %></td>
        <td><%= user.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>