<div class="top-page">

  <h1 class="top">
    Enjob
    <%= image_tag '愛アイコン2.png', class: 'title-icon' %>
  </h1>

    <div class="top-box">
      <%= image_tag '21830aIMGL99841974_TP_V4.jpg', class: 'top-img' %>
      <div class="top-item">
        <p>毎日、仕事をがんばるあなたへ！</p>
        どうせタスクを処理するなら、<span class="c-marker js-markerScrollAnimation">楽しみたい！</span></br>
        でも多機能すぎるとうまく使いこなせない！</br></br>
        そんなあなたに・・・</br>
        <span class="c-marker js-markerScrollAnimation">楽しみながら、タスク処理をして</br>
        毎日のjobをEnjoyしよう！</span></br>

      </div>
    </div>
    <div class="top-box">
      <div class="top-item">
        <p>Enjobはとってもシンプル</p>
        まずは会員登録を<span class="c-marker js-markerScrollAnimation">「Sign Up」</span>から。</br>
        つづいてやることリストを登録して、<span class="c-marker js-markerScrollAnimation">〆切を決めよう！</span></br>
        それぞれのタスクに対して<span class="c-marker js-markerScrollAnimation">「重要度」</span>をあなたなりに選択してください。</br>
        タスクが終わったら<span class="c-marker js-markerScrollAnimation">「Done」</span>ボタンで完了！</br></br>
        頑張ったらその分だけ、<span class="c-marker js-markerScrollAnimation">あなた自身もレベルアップします！</span></br>
      </div>
      <%= image_tag '521430_s.jpg', class: 'top-img' %>
    </div>
</div>
