/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */




* {
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
 }

body {
  display: none;
  margin: 0;
  padding: 0;
}


#main {
  box-sizing: border-box;
  margin-left: 260px;
  padding: 20px 40px;
}

ul {
  list-style: none;
}




//ranking








.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}


#global-head {
  position: fixed;
  color: #033560;
  width: 260px;
  text-align: center;
  padding-top: 60px;
  z-index: 100;
}



#sidebar {
  font-family: 'Hubballi', cursive;
  font-size: 15px;
  padding-top: 120px;
  width: 260px;
  height: 100%;
  position: fixed;
  color: #033560;
  background: #fff;
  text-align: center;
}

#global-nav ul {
  list-style: none;
  padding-left: 0;
}

#global-nav > ul > li {
  position: relative;;
}


#global-nav a {
  color: #033560;
  text-decoration: none;
  display: block;
  padding: 15px 0;
  transition: background-color 0.3s linear;
}

#global-nav a:hover {
  background-color: #b0c4de;
  transition: background-color 0.1s linear;
}



#nav-toggle {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  height: 32px;
}

#nav-toggle > div {
  position: relative;
  width: 32px;
}

#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  background: #033560;
  position: absolute;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 11px;
}

#nav-toggle span:nth-child(3) {
  top: 22px;
}

#overlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.pagination{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;

    span{
        text-align: center;
        width: 50px;

        :hover{
            background-color:#f3f3f3;
            border-radius: 50%;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: darkseagreen;
            :hover{
                background-color: #f3f3f3;
                border-radius: 50%;
              }
        }
    }
}

.current{
    color: darkseagreen;
}

.gap{
    background-color: white !important;
}




@media screen and (max-width: 900px) {

  #main {
    margin-left: 0;
  }

  #global-head {
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,.8);
    display: -webkit-flex;
    display: flex;
  }

  #sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    height: 100%;
    width: 300px;
    color: #333;
    background: #fff;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }

  #nav-toggle {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  height: 32px;
  }

  .open {
    overflow: hidden;
  }

  .open #overlay {
    display: block;
  }

  .open #sidebar {
    transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
  }


  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transfrom: rotate(45deg);
  }

  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }

  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }



  #overlay {
    z-index: 200;
  }

  #sidebar {
    z-index: 300;
  }

  #nav-toggle {
    z-index: 400;
  }

}


