// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup {
  color: #80aba9;
}


.signup-h1 {
  color: #80aba9;
  font-size: 5rem;
}

.login {
  color: #e4d2d8;
}

.login-h1 {
  color: #e4d2d8;
  font-size: 5rem;
}