// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup {
  color: #80aba9;
}


.signup-h1 {
  color: #80aba9;
  font-size: 5rem;
}


.login-h1 {
  color: #e4d2d8;
  font-size: 5rem;
}


.btn-login {
  display: block;
  width: auto;
  height: auto;
  background-color: #c97586;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.btn-login:hover {
  backgroud-color: white;
}

//Ranking

.ranking-h1 {
  font-size: 5rem;
  color: #68699b;
}

.ranking > table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.ranking > table th {
  padding: 10px;
  border-bottom: solid 4px #778ca3;
  color: #778ca3;
}

.ranking > table td {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
}

 .edit-item {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #928c36;
}